<div class=" p-4 ">
    <app-todo-add></app-todo-add>
</div>


<!-- <ul class="w- text-sm font-medium text-gray-900 bg-white border border-gray-200  dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        @for(item in items; track item.name){
            <li   class="w-full px-4 py-2 border-b border-gray-200 rounded-t-lg dark:border-gray-600">Profile</li>

        }
</ul> -->
<ul id="pdf" class="w- text-sm font-medium text-gray-900 bg-white border border-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
  
    <li  *ngFor="let item of items" class=" flex justity-beetwen border-b py-5  px-4 ">
    <div class=" w-full">
        <div class="  flex space-x-4">
            <input  id="checked-checkbox" type="checkbox" value="" class="w-5 h-5 cursor-pointer text-[#F19173] bg-gray-100 border-gray-300 rounded focus:ring-[#F19173]    ">
            <p>  {{ item.name }}</p>
           </div>
           <p class=" font-normal px-9 pt-3"> {{ item.date }}</p>
    
    </div>
      
    <div class=" flex justify-around space-x-6">
        <fa-icon [icon]="faEdit" class="close pointer"></fa-icon>
        <fa-icon [icon]="faTrash" class="close pointer"></fa-icon>

    </div>
    </li>
</ul>

