<nav class=" w-full  border dark:bg-gray-700">
    <div class="max-w-screen-xl px-4 py-3 mx-auto">
        <div class="flex items-center">
            <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
               
                <li class=" flex space-x-5 ">
                    <input  id="checked-checkbox" type="checkbox" value="" class="w-5 h-5 cursor-pointer text-[#F19173] bg-gray-100 border-gray-300 rounded focus:ring-[#F19173]    ">
                    <label for="checked-checkbox" class="ms-2 text-md pt- font-medium text-gray-900 dark:text-gray-300">Mark All</label>
                </li>
               
            </ul>
        </div>
    </div>
</nav>