

<div id="separator-sidebar" class=" z-40   transition-transform border -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    
    <div class="h-screen px-3 py-4 overflow-y-auto  dark:bg-gray-800">
        <p class=" text-start text-xl  py-3">TO DO APP</p>
       <ul class="space-y-2 mt-10 font-medium">
         
         
          <li>
             <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
               
                <span class="flex-1 ms-0 whitespace-nowrap">All</span>
                <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-white bg-[#F19173] rounded dark:bg-blue-900 dark:text-blue-300">3</span>
             </a>
          </li>

          <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            
               <span class="flex-1 ms-0 whitespace-nowrap">Incompleted</span>
               <span class="inline-flex items-center justify-center w-4 h-4 p-3 ms-3 text-sm font-medium text-white bg-[#F24868] rounded dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         <li>
            <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
              
               <span class="flex-1 ms-0 whitespace-nowrap">Completed</span>
               <span class="inline-flex items-center justify-center w-4 h-4 p-3 ms-3 text-sm font-medium text-white bg-[#00BA8C] rounded dark:bg-blue-900 dark:text-blue-300">3</span>
            </a>
         </li>
         
         
        
       
       </ul>
    
    </div>
</div>
