<div class=" flex w-full  ">
    <div class=" flex  w-full  justify-between">
      
        <input type="text" id="large-input" placeholder="Add todo" class="block w-72  p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <button type="button" class="text-white bg-[#F19173] hover:bg-[#F19173] focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-xl text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add todo</button>

    </div>

</div>
